/* App container */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  width: 80%;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}

/* Title */
h1 {
  font-size: 36px;
}

/* Form */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4c8baf;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Chat window */
.chatWindow {
  background-image: url("https://wallpapercave.com/wp/wp4410721.jpg");
  border: blue solid 1px;
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 40px;
}

.outgoing {
  background-color: #4caf50;
  border-radius: 10%;
  padding: 10px;
  margin-left: 100px;
  width: 100%;
}
.incoming {
  background-color: #534caf;
  border-radius: 5%;
  padding: 10px;
  margin-right: 150px;
  width: 100%;
}

textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}
